# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
.vscode/
env/
venv/
ENV/

log.txt
playlists/*
tmp/*

# TTS stuff
TTS/
best_model.pth.tar
config.json
gst-style-example.wav
speakers.json
TTS-checkpoint.zip
config_vocoder.json
scale_stats.npy
tts_model.pth.tar
vocoder_model.pth.tar
